@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(27, 66%, 92%);
  font-family: 'DM sans', sans-serif;
}

h1,h2{
  font-weight: 700;
}

main {
  display: flex;
  width: 450px;
  /* height: 590px; */
  /* height: fit-content; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.bg-change{
  background-color: hsl(25,47%,15%);
}

.chart-header{
  padding: 30px;
  display: flex;
  height: 100px;
  width: 100%;
justify-content: space-between;
color: white;
align-items: center;
  background-color: hsl(10, 79%, 65%);
  border-radius: 20px;
  margin-bottom: 20px;
}

.theme{
  display: flex;
  align-items: center;
}

.circles{
height: 40px;
width: 40px;
border-radius: 50%;
}

.chart-body{
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 25px;
  width: 100%;
  height: fit-content;
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.bar{
  width: 45px;
  height: 180px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 6px;
}



.bar:hover{
    background-color: hsl(10, 79%, 75%);
}

.expense-bar{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.cyan-bar{
  background-color: hsl(186, 34%, 60%);
}

.cyan-bar ~ .per-day-expense{
  opacity: 1;
}

.cyan-bar:hover{
  background-color: hsl(186, 34%, 75%);
}

.bars{
  display: flex;
  gap: 7px;
  flex-direction: column-reverse;
  align-items: center;
}


hr{
  border: none;
  border-bottom: 2px solid hsl(27, 66%, 92%);
}

.chart-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.growth{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
}

.chart-header span{
    color: white;
}

span{
    color: hsl(28,10%,53%);
    font-size: 16px;
}

.per-day-expense{
    background-color: hsl(25,47%,15%);
    font-size: 12px;
    padding:3px 12px;
    opacity: 0;
    border-radius: 5px;
    color: white;
}

.bars:hover > .per-day-expense{
opacity: 1;
}

@media (max-width:480px) {
  .chart-body,.chart-header{
    padding: 35px;
  }
  .bar{
    width: 35px;
  }
  main{
    font-size: 14px;
    margin: 40px;
  }
  .expense-bar{
    cursor: unset;
  }
}
